[project]
	description = A tool to show disease area interactively on a map
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ruslan (rkhozinov)
[access "refs/for/refs/*"]
	read = group user/Ruslan (rkhozinov)
	push = group user/Ruslan (rkhozinov)
	label-Code-Review = -2..+2 group user/Ruslan (rkhozinov)
	label-Verified = -1..+1 group user/Ruslan (rkhozinov)
	rebase = group user/Ruslan (rkhozinov)
	removeReviewer = group user/Ruslan (rkhozinov)
	submit = group user/Ruslan (rkhozinov)
[access "refs/heads/*"]
	read = group user/Ruslan (rkhozinov)
	create = group user/Ruslan (rkhozinov)
	push = +force group user/Ruslan (rkhozinov)
	pushMerge = group user/Ruslan (rkhozinov)
[access "refs/tags/*"]
	push = +force group user/Ruslan (rkhozinov)
	pushTag = group user/Ruslan (rkhozinov)
	pushSignedTag = group user/Ruslan (rkhozinov)
