{% extends "_base.html" %}
{% block content %}
{% include "_navigation.html" %}
{% from "_macro.html" import text_input with context %}
{% from "_macro.html" import submit with context %}
{% from "_macro.html" import select with context %}

<div class="text-center">
    <form class="form" action="/disease" method="POST">
        {{ text_input('name','Enter a disease name', True) }}
        {{ submit('add') }}
    </form>
</div>
{% if hospitals %} <hr/> {% endif %}
{% for disease in diseases %}
<form action="/disease/delete" method="POST">
    <div class="well well-sm">
        {{ submit('delete') }} <strong> {{disease.name}}</strong>
        <input type="hidden" name="disease_id" value="{{disease.id}}">
    </div>
</form>
{% endfor %}
{% endblock %}