{% extends "_base.html" %}
{% block content %}
{% include "_navigation.html" %}
{% from "_macro.html" import text_input with context %}
{% from "_macro.html" import submit with context %}
{% from "_macro.html" import select with context %}

<div class="text-center">
    <form class="form" action="/district" method="POST">
        {{ text_input('name','Enter a district name', True) }}
        {{ text_input('coordinates','Enter coordinates') }}
        {{ submit('add') }}
    </form>
</div>

{% if districts %} <hr/> {% endif %}

{% for district in districts %}
<form action="/district/delete" method="POST">
    <div class="form-group">
        <div class="well well-sm">
            {{ submit('delete') }} <strong>{{district.name}}</strong>
            <input type="hidden" name="district_id" value="{{district.id}}">
        </div>
    </div>
</form>
{% endfor %}
{% endblock %}