{% extends "_base.html" %}
{% block content %}
{% from "_macro.html" import text_input with context %}
{% from "_macro.html" import submit with context %}
{% from "_macro.html" import select with context %}

<div class="input-container">
    <div class="text-center">
        {% include "_navigation.html" %}
        <button type="button" class="btn btn-info"
                data-toggle="collapse"
                data-target="#collapse-input">Expand/Collapse control
        </button>
        <div id="collapse-input" class="collapse out">
            <hr/>
            <form class="form" action="/district" method="POST">
                {{ text_input('name','Enter a district name', True) }}
                {{ submit('add') }}
            </form>
        </div>
    </div>
</div>
<br>
<div class="input-container">
    {% for district in districts %}
    <form action="/district/delete" method="POST">
        <div class="form-group">
            <div class="well well-sm">
                {{ submit('delete') }} <strong>{{district.name}}</strong>
                <input type="hidden" name="district_id" value="{{district.id}}">
            </div>
        </div>
    </form>
    {% endfor %}
</div>
{% endblock %}