{% extends "_base.html" %}
{% block content %}
{% include "_navigation.html" %}
{% from "_macro.html" import text_input with context %}
{% from "_macro.html" import select with context %}
{% from "_macro.html" import submit with context %}

<div class="text-center">
    <form class="form" action="/hospital" method="POST">
        {{ text_input('name', 'Enter a hospital name', True) }}
        {{ text_input('address', 'Enter a hospital address', True) }}
        {{ text_input('phone', 'Enter a hospital phone', True) }}
        {{ select('district') }}
        {{ submit('add') }}
    </form>
</div>
{% if hospitals %} <hr/> {% endif %}
{% for hospital in hospitals %}
<form action="/hospital/delete" method="POST">
    <div class="form-group">
        <div class="well well-sm">
            {{ submit('delete') }} <strong> {{hospital.name}} - {{hospital.district}}</strong>
            <input type="hidden" name="hospital_id" value="{{hospital.id}}">
        </div>
    </div>
</form>
{% endfor %}
{% endblock %}