{% extends "_base.html" %}
{% block content %}
{% from "_macro.html" import text_input with context %}
{% from "_macro.html" import submit with context %}
{% from "_macro.html" import select with context %}

<div class="input-container">
    <div class="text-center">
        {% include "_navigation.html" %}
        <button type="button" class="btn btn-info form-group"
                data-toggle="collapse"
                data-target="#collapse-input">Expand/Collapse control
        </button>
        <div id="collapse-input" class="collapse out">
            <hr/>
            <form class="form" action="/population" method="POST">
                {{ text_input('year','Enter a year', True) }}
                {{ text_input('women','Enter amount of women') }}
                {{ text_input('men','Enter amount of men') }}
                {{ text_input('children','Enter amount of children') }}
                {{ text_input('employable_men','Enter amount of employable men') }}
                {{ text_input('employable_women','Enter amount of employable women') }}
                {{ select('district') }}
                {{ submit('add') }}
            </form>
        </div>
    </div>
</div>

{% if populations %}
<div class="data-container">
    <h2>District population</h2>
    <p>The table represents data about population in districts</p>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Year</th>
                <th>District</th>
                <th>Men</th>
                <th>Women</th>
                <th>Children</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for population in populations %}
            <tr>
                <form action="/population/delete" method="POST">
                    <input type="hidden" name="population_id"
                           value="{{population.id}}">
                    <td>{{ submit('delete') }}</td>
                    <td>{{population.id}}</td>
                    <td>{{population.year}}</td>
                    <td>{{population.district.name}}</td>
                    <td>{{population.men}}</td>
                    <td>{{population.women}}</td>
                    <td>{{population.children}}</td>
                </form>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}
{% endblock %}

